<li class="hide-on-med-and-down"><a class="waves-effect" href="index.html#standings"><i class="material-icons left " href="#standings">home</i>Home</a></li>
<li class="hide-on-med-and-down"><a class="waves-effect" href="index.html#teams"><i class="material-icons left" href="#teams">people</i>Team</a></li>
<li class="hide-on-med-and-down"><a class="waves-effect" href="index.html#favorite"><i class="material-icons left" href="#about">favorite</i>Favorite</a></li>
<li class="hide-on-med-and-down"><a class="waves-effect" href="index.html#about"><i class="material-icons left" href="#about">info</i>About Me</a></li>
<li class="hide-on-med-and-down"><a class="waves-effect" href="index.html#contact"><i class="material-icons left" href="#contact">email</i>Contact</a></li>
<li class="hide-on-extra-large-only hide-on-large"><a href="#" class="white-text"><i class="material-icons white-text">favorite_border</i></a>